*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    overflow:hidden;
    min-height:100vh;
    background:
    linear-gradient(
    to bottom,
    #050816,
    #0f172a,
    #1e1b4b,
    #312e81);
    color:white;
}

/* Bulan */

.moon{
    position:absolute;
    top:70px;
    right:80px;

    width:140px;
    height:140px;

    border-radius:50%;
    background:white;

    box-shadow:
    0 0 30px white,
    0 0 80px white,
    0 0 120px white;
}

/* Konten */

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:min(90%, 900px);

    text-align:center;
    z-index:100;

    padding:20px;
}

h1{
    font-size:clamp(2rem, 6vw, 4rem);

    text-shadow:
    0 0 10px #ff4d6d,
    0 0 30px #ff4d6d,
    0 0 60px #ff4d6d;
    animation:pulse 2s infinite;
}

.subtitle{
    margin-top:15px;
    font-size:1.2rem;
}

.days{
    margin-top:20px;
    font-size:1.3rem;
}

button{
    margin-top:20px;
    margin-right:10px;

    border:none;
    border-radius:50px;

    padding:15px 30px;

    background:#ff4d6d;
    color:white;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

#letter{
    display:none;

    width:80%;
    max-width:700px;

    margin:25px auto;

    padding:30px;

    border-radius:25px;

    background:
    rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    animation:fade 1s;
}

#reason{
    margin-top:20px;
    color:#ffd1dc;
}

/* Bintang */

.star{
    position:absolute;
    border-radius:50%;
    background:white;
    animation:blink 3s infinite;
}

/* Meteor */

.meteor{
    position:absolute;

    width:3px;
    height:120px;

    background:
    linear-gradient(
    white,
    transparent);

    transform:rotate(45deg);

    animation:
    meteor 2s linear forwards;
}

/* Hati */

.heart{
    position:absolute;
    animation:
    heartFly linear forwards;
}

/* Animasi */

@keyframes blink{
    50%{
        opacity:.2;
    }
}

@keyframes meteor{
    to{
        transform:
        translate(-700px,700px)
        rotate(45deg);
    }
}

@keyframes heartFly{
    from{
        transform:translateY(100vh);
        opacity:1;
    }

    to{
        transform:translateY(-150px);
        opacity:0;
    }
}

@keyframes pulse{
    50%{
        transform:scale(1.05);
    }
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Responsive HP */

@media(max-width:768px){

    h1{
        font-size:2.2rem;
    }

    .moon{
        width:90px;
        height:90px;
        right:20px;
    }

    button{
        width:90%;
        margin-top:15px;
    }

    #letter{
        width:95%;
    }
}